<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="[Demo] Selenium Manager" parallel="methods" thread-count="3">
<listeners>
	<listener class-name="org.uncommons.reportng.HTMLReporter"/>
	<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
</listeners>

	<test name="[Demo] Selenium Manager">
		<classes>
			<class name="SeleniumManagerDemo"> </class>
		</classes>
	</test>
</suite>
