<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Manager Demo Suite">
    <test name="Selenium Manager tests" enabled="false">
        <classes>
            <class name="SeleniumManagerDemo"/>
        </classes>
    </test>
    <test name="Selenium Manager Latest tests">
        <classes>
            <class name="SeleniumWebDriverManagerTests">
                <methods>
                    <exclude name="testOnChromeOldVersionWithSeleniumManager"/>
                    <exclude name="testChromeLatestVersionWithSeleniumManager"/>
                    <include name="testChromeVersionsWithSeleniumManager"/>
                    <exclude name="testOnChromeOldVersion112"/>
                    <exclude name="testOnChromeBySettingEnvVariablePath"/>
                    <exclude name="testOnChromeBySettingBinaryPathUsingSetProperty"/>
                    <exclude name="testOnFirefoxLatestVersionWithSeleniumManager"/>
                    <exclude name="testOnEdgeLatestVersionWithSeleniumManager"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
