<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Manager Demo Suite">
    <test name="Selenium Manager tests">
        <classes>
            <class name="SeleniumManagerDemo"/>
        </classes>
    </test>
    <test name="Selenium Manager Latest tests">
        <classes>
            <class name="SeleniumWebDriverManagerTests">
                <methods>
                    <include name="testOnChromeOldVersionWithSeleniumManager"/>
                    <include name="testChromeLatestVersionWithSeleniumManager"/>
                    <include name="testChromeVersionsWithSeleniumManager"/>
                    <include name="testOnChromeOldVersion112"/>
                    <include name="testOnChromeBySettingEnvVariablePath"/>
                    <include name="testOnChromeBySettingBinaryPathUsingSetProperty"/>
                    <include name="testOnFirefoxLatestVersionWithSeleniumManager"/>
                    <include name="testOnEdgeLatestVersionWithSeleniumManager"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
